* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cht-codesnippet {
    position: relative;
    display: block;
    clear: both;
    font-family: Monospace;
    font-size: 12px;
    margin: 1em auto;
}
.cht-codesnippet .code_box {
    display: block;
    font-size: 13px;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.4em;
    padding: 25px 5px;
    margin: 0;
    border: 1px solid rgba(155, 155, 155, 0.3);
    border-radius: 2px;
}
.code_box * {
    -webkit-user-select: all;
       -moz-user-select: all;
        -ms-user-select: all;
            user-select: all;
}
.cht-codesnippet .cbmsg,
.cht-codesnippet .ctmsg {
    position: absolute;
    right: 0;
    font-size: 10px;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1px 10px;
}
.cht-codesnippet .ctmsg {
    top: 0;
    background-color: orange;
}
.cht-codesnippet .cbmsg {
    bottom: 0;
}
.cht.code_box .hlit {
    color: #fff;
    background-color: #595;
    padding: 0 1px;
    margin: 0 2px;
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
}

.cht.code_box .hlit:nth-child(odd) {
    color: #000;
    background-color: #d8e8f8;
}
.cht.in.code_box {
   display: inline-block;
   padding: 1px 3px;
   margin: auto 5px;
   overflow: unset
}

.code_box {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

img {
    pointer-events: none;
}

.cht-ytframediv,
.cht-ytimg {
    display: block;
    margin: 5px auto;
}

.cht-ytframediv {
    position: relative;
    overflow: hidden;
    width: 99%;
    padding-top: 56.25%;
}

.cht-ytframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.cht-ytwbtn,
figcaption {
    color: #fff;
    text-align: center;
}

.cht-ytwbtn {
    display: block;
    margin: 5px auto;
    border: 0;
    -webkit-box-shadow: 0 0 3px 2px #888;
    box-shadow: 0 0 3px 2px #888;
    background-color: red;
    padding: 0.8em 2em;
    border-radius: 3px;
    font-size: 15px;
}

figure {
    border: 1px #ccc solid;
    padding: 4px;
    margin: 1em auto;
}

figcaption {
    background-color: #000;
    padding: 2px;
}

.cht-toc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    clear: both;
    margin: 1em 0;
}

.cht-toc .tocarea-inner,
.cht-toc a.tocarea-title {
    position: relative;
    background-color: #f6f6f6;
    color: #344955;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
}

.cht-toc .tocarea-inner {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.6em;
}

.cht-toc a.tocarea-title {
    height: 38px;
    font-size: 16px;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0;
    text-decoration: none;
}

.cht-toc .tocarea-title:after {
    content: "\f022";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 0 25px;
}

.cht-toc .tocarea li a,
code.cht.inc {
    text-decoration: none;
}

.cht-toc .tocarea li a:hover,
.cht-toc a.tocarea-title:hover {
    text-decoration: underline;
}

.cht-toc .tocarea {
    display: block;
    padding: 8px 20px !important;
    margin: 0;
}

.cht-toc .tocarea ol {
    padding: 0 0 0 15px;
}

.cht-toc .tocarea li {
    font-size: 14px;
    margin: 7px 0;
}

.tocarea-title.ex:after {
    font-weight: 900;
}

.cht.table.a {
    display: table;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 2px;
    margin: 1em auto;
}

.cht.table.a,
.cht.table.a td,
.cht.table.a th,
.cht.table.a tr {
    border: 1px solid #d6d6d6;
}

.cht.table.a td,
.cht.table.a th {
    display: table-cell;
    padding: 16px;
}

.cht.table.a tr:nth-child(even) {
    background-color: #f1f1f1;
}
